/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #343436;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background-color: #eeeeee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow:  8px 15px 40px rgb(0, 0, 0);

}

/* Header Styles */
h1 {
  color: #343436;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 70%;
  box-shadow: 1px 5px 6px rgb(11, 12, 2);
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #46da46;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
}

button:hover {
  background-color: #000000;
  color: #46da46;
}

/* Task List Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #8c8f7e;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 5px 6px rgb(11, 12, 2);
}

li span {
  flex: 1;
  cursor: pointer;
}

li span.completed {
  text-decoration: line-through;
  color: #999;
}

li button {
  background-color: #dd241e;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

li button:hover {
  background-color: #000000;
  color: red;
}


